:root {
  --blue: #4d97ba;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: #bcd1db33;
  .App {
    width: 500px;
    background-color: white;
    border: 1px solid #bcd1db96;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 25px;
    .mentorContainer {
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      img {
        width: 80px;
        height: 80px
      }
      .mentor {
        display: flex;
        flex-direction: row;
        height: 100px;
            width: 500px;
    justify-content: space-around;
      }
    }
    img {
      width: 100%;
    }
    img.match {
      width: 20px;
    }
    .profil {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header {
      h1 {
        font-family: Reenie Beanie;
        color: var(--blue);
        font-size: 80px;
        margin-top: 20px;
        margin-bottom: 0px;
      }
      font-family: Audiowide;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    ul {
      display: flex !important;
      list-style-type: none !important;
      padding: 0;
      .left a:hover {
        /*Transition*/
        -webkit-transition: All 0.5s ease;
        -moz-transition: All 0.5s ease;
        -o-transition: All 0.5s ease;

        /*Transform*/
        -webkit-transform: rotate(-10deg) scale(1.2);
        -moz-transform: rotate(-10deg) scale(1.2);
        -o-transform: rotate(-10deg) scale(1.2);
      }

      .right a:hover {
        /*Transition*/
        -webkit-transition: All 0.5s ease;
        -moz-transition: All 0.5s ease;
        -o-transition: All 0.5s ease;

        /*Transform*/
        -webkit-transform: rotate(10deg) scale(1.2);
        -moz-transform: rotate(10deg) scale(1.2);
        -o-transform: rotate(10deg) scale(1.2);
      }

      ul li {
        float: left;
        list-style: none;
        margin-right: 1em;
      }

      li a {
        color: black;
        text-decoration: none;
        float: left;
        font-size: 25px;
        padding: 12px;
        margin: 0 15px !important;
      }

      li a:hover {
        color: var(--blue);

        -webkit-transform: rotate(-10deg) scale(1.2);
        -moz-transform: rotate(-10deg) scale(1.2);
        -o-transform: rotate(-10deg) scale(1.2);
      }
    }
    form {
      height: 300px;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
      input[type="text"] {
        display: block;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 220px;
        height: 32px;
        border: none;
        border-bottom: 1px solid #aaa;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 15px;
        transition: 0.2s ease;
      }

      input[type="text"]:focus {
        border-bottom: 2px solid var(--blue);
        color: var(--blue);
        transition: 0.2s ease;
      }

      input[type="submit"] {
        font-size: 20px;
        height: 50px;
        background: var(--blue);
        border: none;
        border-radius: 2px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        transition: 0.1s ease;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        opacity: 0.8;
        box-shadow: 0 2px 4px var(--blue);
        transition: 0.1s ease;
      }

      input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px var(--blue);
        transition: 0.1s ease;
      }
    }
  }
}
